body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	padding: 0px;
}

#logo {
    float: left;
}

#header {
    background-image: url("/images/textura.jpg");
	border-bottom: 2px solid #ccc;
	border-top: 3px solid #e7e3ad;
	height: 100px;
	width: 100%;
}

.center{
	width: 75%;
	margin: 0px auto;
}

.clear-fix{
	clear: both;
	float: none;
}

#logo img {
    width: 80%;
    /* height: 40%; */
    float: left;
    margin-right: 10px;
}

#navbarNavDropdown {
    margin-right: 200px;
}




